<div class="banner">
    <div class="content">
        <h1> What about <br/> smart living ?  </h1>
        <a routerLink="login"> Join us!</a>
    </div>
   
</div>

<!-- About us -->
<div class="about">
    <h1> Who are We ?</h1>
</div>


<!-- Smart House -->
<div class="smart">
    <h1> What is a smart house ?</h1>
</div>

<!-- Our services-->

<div class="container mt-5 mb-5" >
     <h1 class="text-center"> What do we offer?</h1>
     <div class="row">
        <div class="col-lg-2"> 
            <div class="services"> 
                <h1> 1 </h1>
                <p> Temperature Control</p>
                <img src="assets\humidity.png" class="img-fluid" alt="Responsive image">
            </div>
           
        </div>
        <div class="col-lg-2"> 
            <div class="services"> 
                <h1> 2 </h1>
                <p> Alarm System</p>
                <img src="assets\alarm.png" class="img-fluid" alt="Responsive image">
            </div>
       </div>

       <div class="col-lg-2"> 
            <div class="services"> 
                 <h1> 3 </h1>
                 <p> Smoke detector</p>
                 <img src="assets\smoke-detector.png" class="img-fluid" alt="Responsive image">
            </div>
       </div>

       <div class="col-lg-2">
           <div class="services"> 
                 <h1> 4 </h1>
                <p> Yelling detector</p>
                <img src="assets\boy.png" class="img-fluid" alt="Responsive image">
            </div>
       </div>

       <div class="col-lg-2"> 
            <div class="services"> 
               <h1> 5 </h1>
               <p> Smart spotlights</p>
               <img src="assets\spotlight.png" class="img-fluid" alt="Responsive image">
            </div>
       </div>
     </div>
</div>